/* OVERALL STYLING */
html {
	height: 100%;
	font-family: 'Roboto';
}

body {
	margin: 0;
	height: 100%;
	font-family: 'Roboto';
}

.panel {
	border-radius: 6px;
	box-shadow: 0 4px 4px rgba(0,0,0,.1);
}

.panel-heading {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.panel-body {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.page-wrapper {
	min-height: calc(100% - 150px );
}

.page-wrapper:after {
  content: "";
  display: block;
}

.page-heading {
	text-align: center;
}

.page-heading h1 {
	font-weight: 300;
	color: #646464;
}

.page-heading p {
	margin-top: 15px;
	padding-top: 25px;
	border-top: 2px solid #e5e5e5;
	display: inline-block;
	color: #777;
	font-size: 16px;
	margin-bottom: 40px;
}

.read-more a {
	padding: 13.5px 30px;
	border-radius: 4px;
	box-shadow: rgb(229, 229, 229) 0px 0px 0px 2px inset;
	color: #777;
	text-decoration: none;
	transition-duration: 0.2s;
}

.read-more a:hover {
	background-color: #0C7F8A;
	color: white;
	transition-duration: 0.2s;
}

.read-more {
	margin-bottom: 20px;
	text-align: center;
}

.grid-item {
	width: 33%;
}

.grid-item--width2 {
	width: 66%;
}

.grid {
	margin-bottom: 20px;
}

.pagination {
	float: none;
}

.fixMargin {
	margin-top: 0;
	transition-duration: 0.5s;
	position: fixed;
	top: 0px;
}

.form-control-label {
	width: 100%;
}

.cancel-cover-photo button {
	margin-top: 15px;
}

/* NAVBAR STYLING */

.navbar-default {
	font-size: 16px;
	padding-right: 20px;
	min-height: 65px;
	background-color: #0C7F8A;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #F5F5F5;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.navbar-nav>li>a {
	padding-top: 23px;
}

.navbar-default .navbar-nav {
	background-color: transparent;
	color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: white;
}

.navbar-nav>li>.dropdown-menu {
	border-radius: 4px;
	color: #777;
	text-shadow: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color: #0c7f8a;
	color: white;
}

.navbar-toggle {
	margin-top: 16px;
}

/* CONTACT STYLING */

.contact-wrapper .contact-header {
	text-align: center;
}

.contact-wrapper .contact-header p {
	margin-top: 15px;
	padding-top: 25px;
	border-top: 2px solid #e5e5e5;
	display: inline-block;
	color: #777;
	font-size: 16px;
}

.contact-wrapper .contact-header h1 {
	font-weight: 300;
	color: #646464;
}

.contact-wrapper .panel .panel-body {
	padding: 25px;
}

.contact-wrapper .panel .panel-body input, .contact-wrapper .panel .panel-body textarea {
	padding: 5px;
	background-color: #f8f8f8;
	border-radius: 4px;
	border: solid 1px #e5e5e5;
	padding-left: 15px;
} 

.contact-wrapper .panel .panel-body form .input-group-addon {
	opacity: 0;
}

.form-control {
	box-shadow: none;
}

.contact-wrapper .panel .panel-body form ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #959595;
}
.contact-wrapper .panel .panel-body form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #959595;
   opacity:  1;
}
.contact-wrapper .panel .panel-body form ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #959595;
   opacity:  1;
}
.contact-wrapper .panel .panel-body form :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #959595;
}
.contact-wrapper .panel .panel-body form ::-ms-input-placeholder { /* Microsoft Edge */
   color: #959595;
}

.contact-body {
	margin-top: 40px;
}

.contact-wrapper .contact-body form button {
	background-color: #595959;
	border: none;
	border-radius: 4px;
	padding: 12px;
	width: 150px;
	color: white;
	margin-top: 15px;
	transition-duration: 0.2s;
}

.contact-wrapper .contact-body form button:hover {
	background-color: #737373;
	transition-duration: 0.2s;
}

.contact-wrapper .contact-body form .submit-btn {
	text-align: center;
}

/* NEWS STYLING */

.news-wrapper .panel .panel-heading {
	height: 170px;
	background-size: cover;
	background-position: center;
}

.news-wrapper .news-item h3 {
	color: #646464;
	font-weight: 300;
	margin-bottom: 20px;
}

.news-wrapper .news-item p {
	margin-bottom: 40px;
	font-size: 13px;
}

.news-wrapper .news-item {
	padding: 0 12px; 
}

.news-wrapper .news-item .panel-body {
	text-align: center;
	padding: 20px;
}

.news-item-wrapper .news-item-title {
	text-align: center;
}

.news-item-wrapper .news-item-title h1 {
	font-weight: 300;
	color: #646464;
	margin-bottom: 30px;
}

.news-item-wrapper .news-item .panel-heading {
	height: 250px;
	background-size: cover;
	background-position: center;
}

.news-item-wrapper .news-item .panel-body {
	padding: 30px;
}

.news-item-wrapper .news-item .panel-body .subtitle {
	font-weight: 700;
}

/* EVENT STYLING */

.event .panel-heading {
	height: 170px;
	background-size: cover;
	background-position: center;
}

.event .panel-body {
	text-align: center;
	padding: 20px;
}

.event .panel-body h3 {
	margin-bottom: -5px;
	font-weight: 300;
}

.event .panel-body span {
	font-size: 13px;
}

.event .panel-body p {
	margin-top: 20px;
	margin-bottom: 40px;
}

.event-wrapper .page-heading h1 {
	margin-bottom: 30px;
}

.event-wrapper .event-item .panel-heading {
	height: 250px;
	background-size: cover;
	background-position: center;
}

.event-wrapper .event-item .panel-body {
	padding: 30px;
}

.events-wrapper .event {
	padding: 0 12px; 
}

.event-wrapper .album .panel-body {
	text-align: center;
}

.event-wrapper .album .panel-body h3 {
	font-weight: 300;
	margin-bottom: 40px;
}

.event-wrapper .album-wrapper {
	margin-top: 50px;
}

.event-wrapper .event-item .panel-body .presale-buttons {
	text-align: center;
}

.event-wrapper .event-item .panel-body .presale-buttons h3 {
	font-weight: 300;
	margin-bottom: 40px;
}

.event-wrapper .event-item .panel-body .presale-buttons .disable-presale {
	pointer-events: none;
	cursor: default;
}

.event-wrapper .event-item .panel-body .presale-buttons .presale-btn {
	background-color: transparent;
	border: none;
	padding: 12px 30px;
	border-radius: 4px;
	box-shadow: rgb(229, 229, 229) 0px 0px 0px 2px inset;
	color: #777;
	text-decoration: none;
	transition-duration: 0.2s;
	margin-bottom: 20px;
	text-align: center;
}

.event-wrapper .event-item .panel-body .presale-buttons .presale-btn:hover {
	background-color: #0C7F8A;
	color: white;
	transition-duration: 0.2s;
}


/* ALBUM STYLING */

.albums-wrapper .album .panel-heading{
	height: 170px;
	background-size: cover;
	background-position: center;
}

.albums-wrapper .album .panel-body h3{
	font-weight: 300;
	margin-bottom: 40px;
}

.albums-wrapper .album .panel-body {
	text-align: center;
}

.album-wrapper .photo img {
	width: 100%;
	padding: 5px;
}

.album-wrapper .photo {
	background-color: white;
	margin: 5px;
	border-radius: 4px;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
}

/* ACCOUNT STYLING */

.account-wrapper .panel-body .profile-photo {
	width: 250px;
	border-radius: 7px;
}

.account-wrapper .panel-body h3 {
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.account-wrapper .read-more {
	text-align: left;
}

.account-wrapper .account-actions {
	list-style-type: none;
	padding: 0;
}

.account-wrapper .account-actions li {
	display: inline-block;
	padding: 10px 10px 10px 0;
}

.edit-account-wrapper .panel-body .change-account-btn, .edit-password-wrapper .panel-body .change-account-btn {
	background-color: transparent;
	border: none;
	padding: 12px 30px;
	border-radius: 4px;
	box-shadow: rgb(229, 229, 229) 0px 0px 0px 2px inset;
	color: #777;
	text-decoration: none;
	transition-duration: 0.2s;
	text-align: center;
}

.edit-account-wrapper .panel-body .change-account-btn:hover, .edit-password-wrapper .panel-body .change-account-btn:hover{
	background-color: #0C7F8A;
	color: white;
	transition-duration: 0.2s;
}

.edit-account-wrapper .panel-body .read-more, .edit-password-wrapper .panel-body .read-more {
	text-align: left;
	margin-bottom: 0;
}

.edit-account-wrapper ul, .edit-password-wrapper ul {
	list-style-type: none;
	padding: 0;
}

.edit-account-wrapper ul li, .edit-password-wrapper ul li {
	
	display: inline-block;
	padding: 10px 10px 10px 0;
}

.edit-account-wrapper .panel .panel-body input, .edit-password-wrapper .panel .panel-body input {
	padding: 5px;
	background-color: #f8f8f8;
	border-radius: 4px;
	border: solid 1px #e5e5e5;
	padding-left: 15px;
}

.edit-account-wrapper .panel .panel-body form ::-webkit-input-placeholder, .edit-password-wrapper .panel .panel-body form ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #959595;
}
.edit-account-wrapper .panel .panel-body form :-moz-placeholder, .edit-password-wrapper .panel .panel-body form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #959595;
   opacity:  1;
}
.edit-account-wrapper .panel .panel-body form ::-moz-placeholder, .edit-password-wrapper .panel .panel-body form ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #959595;
   opacity:  1;
}
.edit-account-wrapper .panel .panel-body form :-ms-input-placeholder, .edit-password-wrapper .panel .panel-body form :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #959595;
}
.edit-account-wrapper .panel .panel-body form ::-ms-input-placeholder, .edit-password-wrapper .panel .panel-body form ::-ms-input-placeholder { /* Microsoft Edge */
   color: #959595;
}

.edit-account-wrapper .panel .current-cover-photo {
	width: 250px;
}

.account-wrapper .panel .panel-body .col-sm-12:first-child {
	text-align: center;
}

/* FOOTER STYLING */

.footer-wrapper {
	background-color: #f0f0f0;
	padding: 40px 20px;
	text-align: center;
	color: #999;
}

.footer-wrapper .social-media {
	margin-bottom: 10px;
}

.footer-wrapper .made-by p {
	margin: 0;
}

/* RESPONSIVE DESIGN */

@media (max-width: 768px) {
	.navbar-default {
		padding-right: 0;
	}

	.navbar-header {
		height: 65px;
	}

	.grid-item {
	    width: 100%;
	}
}

@media (max-width: 600px) {
	.edit-account-wrapper .panel .current-cover-photo {
		width: 100%;
	}

	.account-wrapper .panel-body .profile-photo {
		width: 100%;
	}
}

@media (max-width: 350px) {
	.read-more a {
		font-size: 12px;
	}
}

@media (max-width: 1092px) {
	.events-wrapper .container, .news-wrapper .container {
		width: 100%;
	}
}