/* COLORS

orange: #f58019;

*/

html {
	height: 100%;
	font-family: 'Roboto';
}

body {
	margin: 0;
	height: 100%;
	font-family: 'Roboto';
}

aside {
	width: 260px;
	background-color: #474747;
	height: 100%;
	overflow: auto;
	color: #FFF;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	transition-duration: 0.3s;
}

.admin-content {
	margin-left: 260px;
	transition-duration: 0.3s;
}

.well {
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
	border-radius: 0;
	margin: 20px 0;
	border: 1px solid transparent;
	background-color: #f0f0f0;
	padding: 20px;
}

.white {
	background-color: #FFF;
	color: #666;
}

.admin-form form .form-group, .btn-ripple-wrapper, .card-body {
	position: relative;
}

.admin-form form input, .admin-form form select {
	background-color: inherit;
}

.admin-body {
	padding: 0 25px;
}

.row {
	margin: 0;
}

/* SIDENAVBAR */

.brand-logo {
	color: #E7E7E7;
	font-weight: 300;
	min-height: 64px;
	line-height: 64px;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}

.brand-logo #logo {
	display: inline-block;
}

.brand-logo #logo img {
	margin-right: 7px;
}

aside .user-logged-in {
	min-height: 100px;
	position: relative;
	display: table;
	width: 100%;
	/*background-color: #666;*/
	background: url('../images/b2.png');
}

aside .user-logged-in .content {
	display: table-cell;
	vertical-align: middle;
	padding: 0 22px;
	text-transform: uppercase;
}

aside .user-logged-in .content .user-name {
	font-size: 16px;
	line-height: 18px;
}

aside .user-logged-in .content .user-name span{
	font-size: 9px;
	color: #bbb;
}

aside .user-logged-in .content .user-email {
	font-size: 13px;
	color: #999;
	line-height: 15px;
}

aside .user-logged-in .content .user-actions {
	font-size: 10px;
	margin-top: 7px;
}

aside .user-logged-in a {
	color: #90CAF9;
	margin-right: 5px;
}

aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

aside ul li {
	/*overflow: hidden;*/
	position: relative;
}

aside ul li a {
	margin: 0;
	padding: 15px 0 15px 15px;
	color: #E7E7E7;
	display: block;
	position: relative;
	text-decoration: none;
	transition-duration: 0.2s;
	font-size: 13px;
	line-height: 15px;
	overflow: hidden;
	cursor: pointer;
	font-weight: 300;
}

aside ul li a:hover, aside ul li a.active {
	background: rgba(0,0,0,0.2);
	color: #E7E7E7;
	text-decoration: none;
}

aside ul li a:hover {	
	transition-duration: 0.2s; 
}

aside i.fa {
	font-size: 20px;
	line-height: 23px;
	margin-right: 5px;
	color: #BEBEBE;
}

aside ul li a .fa.fa-angle-down {
	right: 0;
	position: absolute;
	margin-right: 10px;
	color: orange;
	transition-duration: 0.5s;
}

aside ul li ul.treeview-menu a {
	padding: 10px 15px 10px 40px;
}

aside ul li .treeview {
	font-weight: bold;
}

.treeview-active {
	transform: rotate(180deg);
	transition-duration: 0.6s;
}

.ink, .ink2 {
	display: block; position: absolute;
	border-radius: 100%;
	transform: scale(0);
}

.ink {
	background-color: #838383;
}

.ink2 {
	background-color: #fff6e7;
}

.ink.animate, .ink2.animate {animation: ripple 1s linear;}
@keyframes ripple {
	100% {opacity: 0; transform: scale(4.5);}
}

@media (max-width: 990px){
	aside {
		margin-left: -260px;
	}
}

.sidenav-active {
	margin-left: 0;
	transition-duration: 0.3s;
}

/* TOPNAV */

nav.dashboard-nav {
	margin-left: 260px;
	min-height: 64px;
	transition-duration: 0.3s;
}

nav.dashboard-nav .navbar {
	padding: 0 15px;
	margin-bottom: 0;
	box-shadow: 0 0 1px rgba(0,0,0,.3);
	border-radius: 0;
}

nav.dashboard-nav .navbar-left .breadcrumb {
	background-color: transparent;
	margin: 12px 0;
	white-space: nowrap;
}

nav.dashboard-nav .navbar-right ul {
	padding: 0;
	list-style-type: none;
}

nav.dashboard-nav .navbar-right ul li {
	display: inline-block;
	padding: 20px 10px 0 10px;
}

nav.dashboard-nav .navbar-right {
	float: right;
}

nav.dashboard-nav .navbar-left .hamburger-button {
	padding: 10px;
	margin: 10px 10px 10px 0;
	display: none;
	cursor: pointer;
}

@media (max-width: 990px){
	nav.dashboard-nav, .admin-content {
		margin-left: 0;
	}

	nav.dashboard-nav .navbar-left .hamburger-button {
	display: block;
	}
}

@media (max-width: 770px){
	nav.dashboard-nav .navbar-left .breadcrumb {
		display: none;
	}
}

/* LOGIN */

/*.modal .modal-content {
	border-radius: 0;
}

.modal .modal-dialog {
	max-width: 400px;
}

.modal .modal-header {
	text-align: center;
}

.modal .modal-body {
	padding: 20px;
}

.modal .modal-body .body-title {
	font-weight: 800;
	color: orange;
}

.modal .modal-body .body-info {
	color: #ADADAD;
}

.modal .modal-body .body-header {
	margin-bottom: 30px;
}

.modal .modal-body form input[type='text'], .modal .modal-body form input[type='password'] {
	border-radius: 0;
	border: none;
	box-shadow: inset 0 -1px 0 #ddd;
}

.modal .modal-body form input[type='text']:focus, .modal .modal-body form input[type='password']:focus {
	box-shadow: inset 0 -2px 0 orange;
}

.modal .modal-header {
	background-color: #fcfcfc;
}
*/

.btn-custom {
	background: none;
	border: none;
	padding: 6px 16px;
	font-size: 13px;
	font-weight: 700;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition-duration: 0.3s;
	outline: none;
	border-radius: 2px;
	background-color: white;
	text-transform: uppercase;
}

.btn-custom:hover {
	background-color: #eee;
	transition-duration: 0.3s;
}

a.btn-custom {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	margin-bottom: -11px;
}

.btn-custom-login:hover {
	background-color: #eee;
	transition-duration: 0.3s;
	color: orange;
}

.btn-custom-primary {
	background-color: #ffa500;
	color: white;
}

.btn-custom-primary:hover {
	background-color: #e59400;
	color: white;
}

.btn-custom-success {
	background-color: #2fb32f;
	color: white;
}

.btn-custom-success:hover {
	background-color: #2a9f2a;
	color: white;
}

.btn-custom-danger {
	background-color: #F44336;
	color: white;
}

.btn-custom-danger:hover {
	background-color: #c3352b;
	color: white;
}

.btn-custom-grey {
	background-color: silver;
	color: white;
}

.btn-custom-grey:hover {
	background-color: grey;
	color: white;
}

.btn-fat {
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.btn-fat:hover {
	box-shadow: 0px 6px 20px 1px rgba(0,0,0,.3);
}

.login-wrapper .panel, .register-wrapper .panel {
	max-width: 400px;
	margin: 0 auto;
	border: none;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	position: relative;
}

.login-wrapper .panel .form-group, .register-wrapper .panel .form-group {
	position: relative;
}

.login-wrapper .panel .panel-heading, .register-wrapper .panel .panel-heading {
	text-align: center;
	background-color: #fcfcfc;
	border-radius: 0;
	border-bottom-color: #F0F0F0;
}

.login-wrapper .panel .panel-body, .register-wrapper .panel .panel-body {
	padding: 20px;
}

.login-wrapper .panel .panel-body .body-title, .register-wrapper .panel .panel-body .body-title {
	font-weight: 800;
	color: orange;
}

.login-wrapper .panel .panel-body .body-info, .register-wrapper .panel .panel-body .body-info {
	color: #ADADAD;
}

.login-wrapper .panel .panel-body .body-header, .register-wrapper .panel .panel-body .body-header{
	margin-bottom: 30px;
}

.login-wrapper .panel .panel-body form input, .register-wrapper .panel .panel-body form input, .admin-form form input, .admin-form form select, .search input {
	outline: none;
	border-radius: 0;
	border: none;
	box-shadow: inset 0 -1px 0 #ddd;
}

.login-wrapper .panel .panel-body form input:focus, .register-wrapper .panel .panel-body form input:focus, .admin-form form input:focus, .admin-form form select:focus, .search input:focus {
	box-shadow: inset 0 -2px 0 orange;
}



.login-wrapper .panel .panel-footer, .register-wrapper .panel .panel-footer {
	background-color: #fcfcfc;
	border-radius: 0;
	border-top-color: #F0F0F0;
}

/* CRUD MEMBERS */

.admin-body .table-title {
	padding: 20px 20px 20px 40px;
	font-size: 24px;
	color: #9B9B9B;
	font-weight: 300;
}/**/

.admin-body .table {
	color: #666;
}/**/

.members-wrapper .admin-body {
	overflow-x: auto;
	padding: 0;
}

.admin-body .table thead {
	background-color: #FAFAFA;
	vertical-align: middle;
}/**/

.admin-body .table thead tr th:first-child, .admin-body .table tr td:first-child {
	padding-left: 40px;
}/**/

.admin-body .table thead tr th {
	border-bottom: 1px solid #F0F0F0;
	font-size: 11px;
	font-weight: 700;
}/**/

.members-wrapper .table .table-checkbox {
	min-width: 78px;
}

.members-wrapper .table .table-photo {
	min-width: 51px;
}

.members-wrapper .table .table-name {
	min-width: 75px;
}

.members-wrapper .table .table-last {
	min-width: 86px
}

.members-wrapper .table .table-email {
	width: 463px;
}

.members-wrapper .table .table-role {
	min-width: 100px;
}

.members-wrapper .table .table-actions {
	min-width: 155px;
}

.admin-body .table tbody img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition-duration: 0.2s;
}

.admin-body .table ul li {
	display: inline-block;
}

.admin-body .table ul {
	margin: 0;
	padding: 0;
}

.admin-body .table td {
	vertical-align: middle;
	padding: 8px;
}

.admin-body .table tr:hover img {
	border-radius: 10px;
}

.admin-body .table ul li a, .admin-body .table ul li button {
	display: block;
	height: 40px;
	width: 40px;
	color: orange;
}

.admin-body .table ul li a {
	margin-bottom: -16px;
}

.admin-body .table ul li i {
	font-size: 16px;
}

.admin-body .table .btn-round {
	padding: 0;
}

.btn-round {
	padding: 0;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	height: 40px;
	width: 40px;
	font-size: 16px;
	vertical-align: middle;
}

.search-members {
	margin: 20px 0 10px 0;
	padding: 20px 40px 20px 20px;
}

.search-members input {
	width: 0px;
	transition-duration: 0.2s;
}

.search-members .search-active {
	width: 200px;
	margin-left: 5px;
	transition-duration: 0.2s;
}

/* OVERALL DASHBOARD STYLING */

.admin-content .admin-header {
	padding: 40px;
	background-color: #f9f9f9;
}

.admin-content .admin-header h1 {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 5px;
	color: orange;
}

.admin-content .admin-header p {
	color: #9B9B9B;
	font-size: 14px;
	margin-bottom: 0;
}

.admin-content .admin-header h1 i {
	color: #9e9e9e;
	margin-right: 8px;
}

/* TOOLTIP CSS */

/* Tooltip container */
.custom-tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.custom-tooltip .tooltip-text {
    visibility: hidden;
    /*width: 120px;*/
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    padding: 2px 7px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.custom-tooltip:hover .tooltip-text {
    visibility: visible;
}

.custom-tooltip-arrow-right .tooltip-text-arrow-right {
	top: 8px;
    right: 115%;
}

.custom-tooltip-arrow-bottom .tooltip-text-arrow-bottom {
    bottom: 115%;
    left: 50%; 
    margin-left: -65px; /* Use half of the width (120/2 = 60), to center the tooltip */
}


.custom-tooltip-arrow-right .tooltip-text-arrow-right::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0,0,0,0.4);
}

.custom-tooltip-arrow-bottom .tooltip-text-arrow-bottom::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0.4) transparent transparent transparent;
}

/* HAMBURGER BACKGROUND FADE */

.background-fade {
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -100;
	opacity: 0;
	transition-duration: 0.3s;
}

.background-fade-show {
	z-index: 99;
	opacity: 1;
	transition-duration: 0.3s;
}

/* label */

.label-float {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.label-float-date {
	left: auto;
	right: 0;
}

.input-label-float:focus ~ .label-float, .input-label-float.valid ~ .label-float{
  top: -10px;
  font-size: 12px;
  color: orange;
}

/* ALERTS */

.alert {
	right: 0;
	margin-right: 10px;
	margin-top: 10px;
	padding: 15px;
	color: white;
	position: fixed;
	z-index: 100;
}

.alert-dismissible {
	padding-right: 35px;
}

.alert h4 {
	font-size: 17px;
	margin-bottom: 11.5px;
	text-transform: capitalize;
}

.alert-dismissible .close {
	position: relative;
	top: -2px;
	right: -21px;
}

.alert .close {
	color: white;
}

button.close {
	padding: 0;
	background: none;
	border: none;
}

.close {
	font-size: 34px;
	font-weight: 300;
	line-height: 24px;
	opacity: 0.6;
	float: right;
	text-shadow: none;
}

.alert-success {
	background-color: #2196F3;
}

/* PAGINATION */

.pagination {
	float: right;
	margin-right: 10px;
}

.pagination li span, .pagination li a{
	border: 0;
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
	transition-duration: 0.2s;
}

.pagination li.disabled span:hover {
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.pagination li span:hover, .pagination li a:hover{
	box-shadow: 0px 8px 20px 0px rgba(0,0,0,.3);
	transition-duration: 0.2s;
}

/* FOOTER BUTTONS */

.footer-buttons {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.footer-buttons .btn-round {
	width: 50px;
	height: 50px;
	color: white;
	padding-top: 5px;
}

.footer-buttons .btn-round:hover {
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.footer-buttons .btn-round {
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

/* ADMIN WRAPPER */

.admin-wrapper {
	min-height: 100%;
	width: 100%;
	background-color: #f9f9f9;
}

.admin-content {
	height: calc(100% - 64px);
}

/* CARDS */

.card {
	background-color: white;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
	border-radius: 2px;
	margin-bottom: 15px;
}

.card .card-title {
	font-size: 17px;
	font-weight: 500;
	line-height: 16px;
}

.card.bordered .card-header {
	border-bottom: 1px solid #F0F0F0;
}

.card .card-header {
	padding: 20px;
	background-color: #FCFCFC;
}

.card .card-header p {
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 0;
}

.card .card-body {
	padding: 20px;
}

.card.bordered .card-footer {
	border-top: 1px solid #F0F0F0;
}

.card .card-footer {
	padding: 20px;
}

/* GROCERIES */

.show-groceries-wrapper .card .fa.fa-check {
	color: #35c735;
}

.show-groceries-wrapper .card .btn-custom {
	color: white;
}

.show-groceries-wrapper .card .not-done {
	font-size: 30px;
	color: #F44336;
}

.show-groceries-wrapper .card .not-done .tooltip-text {
	font-size: 14px;
}

.show-groceries-wrapper .card .not-done.custom-tooltip-arrow-bottom .tooltip-text-arrow-bottom {
	margin-left: -46px;
	bottom: 140%;
}

.show-groceries-wrapper .card .done.custom-tooltip-arrow-bottom .tooltip-text-arrow-bottom {
	margin-left: -50px;
	bottom: 140%;
}

.show-groceries-wrapper .card i span {
	font-family: 'Roboto';
	font-size: 14px;
}

.show-groceries-wrapper .card .card-body .pull-right {
	margin-left: 10px;
}

/* ADD GROCERY */

.add-grocery-wrapper form .custom-tooltip-arrow-bottom .tooltip-text-arrow-bottom {
	margin-left: -58px;
}

/* TAPLIST */

.taplist-wrapper .calendar-wrapper{
	background-color: white;
	margin: 0 15px;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
	margin-bottom: 20px;
	border-radius: 2px;
}

.taplist-wrapper .calendar-wrapper .col-md-9, .taplist-wrapper .calendar-wrapper .col-md-3, .taplist-wrapper .calendar-wrapper .col-md-12 {
	padding: 20px;
}

.taplist-wrapper .draggable-events h3 {
	margin-top: 0;
}

/* CALENDAR STYLING */

.fc-event {
	padding: 5px;
	margin: 5px 0;
}

.fc-event:hover {
	cursor: move;
}

/* REPORT STYLING */

.reports-wrapper .core-reports {
	padding: 0 15px;
}

/*.report {
	background-color: white;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
}*/

.report .card-body {
	text-align: center;
}

.report .card-body-header {
	background-color: rgba(0,0,0,0.5);
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
}

.report .card-body-hover .hover-footer {
	position: absolute;
	bottom: 5px;
	right: 0px;
	width: 100%;
	color: white;
}

.report .card-body-hover .hover-footer ul li {
	display: inline-block;
}

.report .card-body-hover .hover-footer ul {
	padding: 0;
}

.report .card-body-hover .hover-footer ul li form span button {
	margin-top: 11px;
}

.report .card-body-hover {
	transition-duration: 0.2s;
	/*opacity: 0;*/
}

.report:hover .card-body-hover {
	opacity: 1;
}

.report-date {
	left: 0;
	top: 0;	
}

.report img {
	width: 100%;
	max-width: 200px;
}

.core-reports h3 a, .activity-reports h3 a, .other-reports h3 a {
	font-size: 14px;
}

.all-reports-wrapper .admin-header h1 {
	text-transform: capitalize;
}

.edit-report-wrapper .input-report-upload {
	display: none;
}

/* POLL STYLING */

.card-body .tztzetze {
	position: absolute;
	right: 10px;
	top: 10px;
}

/* EVENT STYLING */

.events-wrapper .admin-body {
	overflow-x: auto;
	padding: 0;
}

.events-wrapper .table .table-photo {
	min-width: 51px;
}

.events-wrapper .table .table-name {
	min-width: 75px;
}

.events-wrapper .table .table-description {
	width: 463px;
}

.events-wrapper .table .table-start {
	min-width: 100px;
}

.events-wrapper .table .table-end {
	min-width: 100px;
}

.events-wrapper .table .table-actions {
	min-width: 155px;
}

.events-wrapper .table .table-publish {
	min-width: 50px;
	text-align: center;
}

/* checkbox */

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    /*background-color: #151515;*/
    border: 2px solid #666;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    margin-bottom: -2px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.regular-checkbox + label i {
	opacity: 0;
	color: white;
	font-size: 18px;
	margin-top: 3px;
}

.regular-checkbox:checked + label {
    background: #ffa500;
    border: 2px solid #ffa500;
	transition-duration: 0.1s;
}

.regular-checkbox:checked + label i {
	opacity: 1;
}